<!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="John Wiseman jjwiseman@gmail.com">
    <title>Secret Metafilter : Admin</title>
    <link rel="stylesheet" type="text/css" href="static/site.css">
  </head>

  <body id="container">
    <h1 id="logo" style="padding-left: 0cm; color: #009925; font-size: 28px;"> Secret Metafilter</span></h1>

    <form method="POST" action="/admin">
      <p>Refresh comments: <input type="submit" value="Refresh"></p>
    </form>

    <div id="about">
      <a href="/static/about.html">About Secret Metafilter</a>
    </div>

  </body>
</html>
