<!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="John Wiseman jjwiseman@gmail.com">
    <title>Secret Metafilter</title>
    <link rel="stylesheet" type="text/css" href="/static/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <script type="text/javascript" src="static/app.min.js"></script>
    <script type="text/javascript">
      var app = new SecretMefi.App();
      app.setColorFromCookie();
    </script>

  </head>

  <body id="container">
    <div class="about">
      <a href="/static/about.html">About</a><br/>
    </div>

    <h1>Secret Metafilter</h1>

    <div class="about">
      <select id="colormenu" name="Color">
        <option value="blue">Blue</option>
        <option value="white">White</option>
      </select>
      <script type="text/javascript">
        console.log(app);
        app.addColorEventHandler(document.getElementById("colormenu"));
      </script>
    </div>

    <p>
      Secret Metafilter highlights discussions that are still active
      on older Metafilter posts.
    </p>

    <hr>

    <div class="smallcopy">
      Last updated {{last_updated_time.strftime('%B %-d, %Y %I:%M %p %Z')}}.
      <br><br>
    </div>

    {% for post in posts %}
      <h2><a href="{{post.url}}">{{post.title}}</a></h2>
      <div class="copy">
        <span class="smallcopy">
          {{post.posted_time.strftime('%B %-d, %Y %I:%M %p')}}
          ({{post.posted_timedelta|pretty_timedelta}})<br>
          {{post.num_comments}} total comments, last 5 shown below...
        </span>
      <br><br>

      {% for comment in post.comments %}
        {{comment.html}}
        <br><br>
      {% endfor %}
      </div>
    {% endfor %}

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38146412-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

  </body>
</html>
