<!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="John Wiseman jjwiseman@gmail.com">
    <title>Secret Metafilter</title>
    <link rel="stylesheet" type="text/css" href="static/site.css">
  </head>

  <body id="container">
    <h1 id="logo" style="padding-left: 0cm; color: #009925; font-size: 28px;"> Secret Metafilter</span></h1>

    <div style="clear:both"></div>
    {% for post in posts %}
      <h1><a href="{{post.url}}">{{post.title}}</a></h1>
      <p>{{post.num_comments}} total comments, posted at {{post.posted_time}}</p>
      {% for comment in post.comments %}
        {{comment.html}}
      {% endfor %}
    {% endfor %}

    <div id="about">
      <a href="/static/about.html">About Secret Metafilter</a>
    </div>

  </body>
</html>
