body {
    background-color:#006699;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    margin: 20px;
    color: #fff;
}
h1 {
    font-family: Georgia,"Times New Roman",serif!important;
    font-weight: normal;
    font-family: Arial,sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: normal;
    line-height: 100%;
}
h2 {
    font-family: Arial,sans-serif!important;
    font-size: 14pt;
    font-weight: normal;
    color: #ffc;
    margin: 10px 0 10px 0;
}
h2 a {
    color: #ddd!important;
    font-weight: normal;
}
p {
    padding: 3px 0 3px 20px;
}
div#loading {
    margin-left: 20px;
}
table.results {
    margin-left: 20px;
}
table.results th {
    padding: 0 20px 4px 0;
    text-align: left;
}
table.results td {
    padding: 0 20px 4px 0;
}
table.results td.number {
    text-align: right;
}
table.results td.user {
    max-width: 200px;
}
table.results td.date {
    width: 60pt;
}
table.results td .reason {
    font-size: 80%;
    max-width: 600px;
    color: #ccc;
    padding-top: 2px;
}
table.results td .reason a {
    color: #fff;
}
td.find {
    text-align: right;
    padding-right: 5px;
}
table.common-controls td {
    padding: 0 2px 0 2px;
}
form {
    margin: 5px 0 0 20px;
}
.logo {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 28pt;
    font-weight: normal;
    color: #ffc;
    margin: 20px 0 20px 0px;
}
.logo span {
    color: #fff;
    opacity: 0.25;
}
#best {
    display: none;
}
.ui-datepicker {
    font-size: 80%;
}
table.ui-datepicker-calendar th {
    color: #000;
}
input {
    margin: 1px 0 1px 0;
}
input.text {
    color: #fff;
    border-style: none;
    border-color: #fff;
    border-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}
.deleted {
    text-decoration: line-through;
}
.copy {
    line-height: 130%;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.smallcopy {
    color: #ccc;
    font-size: 10pt;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #cc9;
}
a:link {
    color: #cc0;
}
.about {
    float: right;
}
.announcement {
    margin-top: 1cm;
    text-align: center;
}
tt {
    font-size: 12px;
}
